* {
  font-family:'Roboto', Arial, sans-serif;
}
.container {
  width: 1024px;
	margin: 0 auto;
}


/* HEADER */
header {
  border-bottom:4px solid #33a4c9;
  padding: 0 20px;
  background: rgb(193, 228, 236);
}

header .container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 200px;
}

header figure {
  border: 6px solid rgb(154, 181, 206);
  border-radius: 106px;
  height: 200px;
  width: 220px;
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 10;
}

header figure img {
  border-radius: 100px;
  height: 200px;
  width: 220px;
}


header hgroup h1 {
  color:#0F104C;
  font-weight: normal;
}

header hgroup h2 {
  color:#cecece;
  font-weight: normal;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.introduce {
  font-weight: 100;
  font-style: italic;
  font-size: 110%;
  width: 400px;
  padding: 20px 0 0;
  margin-left: 40px;
  border-bottom: 1px solid #33a4c9;
}


/* MAIN */
  /* LEFT */
  main {
    background-color: #E9E8E5;
    color: #808080;
  }
  main .container {
    display: flex;
  }

  .box {
    background:#FFF;
  }

  .effect{
    box-shadow: 0 10px 6px -6px #777;
  }


  .contacts {
    font-size: 15px;
    color: #000;
  }

  .contacts ul {
    list-style: none;
  }

  .contacts h2 {
    padding-left: 40px;
  }

  .location li {
    margin-bottom: 10px;
  }

  .location {
    position:relative;
    padding-bottom: 10px;
  }

  .location:after{
    position:absolute;
    bottom:0;
    left:12%;
    width:70%;
    border-top:2px solid #000;
    content:"";
  }

  .social li {
    margin-bottom: 10px;
  }

  .social .skype {
    color: #00AFF0;
  }

  .social .linkedin {
    color: #0077B5;
  }

  .social .github {
    color: #000;
  }

  .info {
    flex: 3;
  }

  .additional-info {
    padding-top: 80px;
    flex: 1;
  }

  .additional-info h2 {
    text-transform: uppercase;
    text-align: center;
    padding:0;
    color: #7CBFB8;
  }

  /* RIGHT */
  .header {
    color: #7CBFB8;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .header:after{
    position:absolute;
    bottom:0;
    left: 0;
    width:95%;
    border-top:3px solid #7CBFB8;
    content:"";
  }
    /* SUMMARY */
    .summary p {
      padding: 0 30px;
      color: #808080;
    }

    /* SCHOOL */
    .school {
      padding: 0 20px 0 120px;
      position: relative;
      box-sizing: border-box;
    }

    .school .date {
      position: absolute;
      left: 5px;
      top: 0;
    }


    .school::before {
      content: '';
      border-right: 1px solid rgba(155, 154, 154, 0.685);
      position: absolute;
      height: 80%;
      left: 100px;
      top: 10%;
    }

    /* JOB */
    .job {
      padding: 0 20px 0 120px;
      position: relative;
      box-sizing: border-box;
    }

    .job .date {
      position: absolute;
      left: 5px;
      top: 0;
    }


    .job::before {
      content: '';
      border-right: 1px solid rgba(155, 154, 154, 0.685);
      position: absolute;
      height: 80%;
      left: 100px;
      top: 10%;
    }  
